{% set base_class = 'footer-secondary' %}

<div {{ bem(base_class) }} data-theme="theme-primary">
  <div {{ bem('content', [], base_class, ['container']) }}>
    <div {{ bem('content-wrapper', [], base_class, ['row']) }}>
      <div {{ bem('content-column', [], base_class, ['col-md-12', 'col-12', 'px-0']) }}>
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
