/* stylelint-disable */
/* stylelint-enable */
.navigation-desktop__top-content {
  display: flex;
  justify-content: flex-end;
}
.navigation-desktop__top-content .menu {
  display: flex;
}
.navigation-desktop__top-content .menu .menu-item + .menu-item {
  margin-left: 2rem;
}
.navigation-desktop__top-content .menu .menu-item__link {
  padding: 0.5rem;
  color: var(--header-search-page-link-color);
  font-weight: 500;
  font-size: 0.875rem;
}
.navigation-desktop__top-content .menu .menu-item__link:hover {
  color: var(--header-search-page-link-color-hover);
}
.navigation-desktop__top-content .search-page-link-block,
.navigation-desktop__top-content .language-switcher-language-url {
  display: flex;
  align-items: center;
}
.navigation-desktop__top-content .language-switcher-language-url a {
  color: var(--header-search-page-link-color);
}
.navigation-desktop__top-content .language-switcher-language-url a.is-active, .navigation-desktop__top-content .language-switcher-language-url a:hover {
  color: var(--header-search-page-link-color-hover);
}
.navigation-desktop__bottom-content .menu {
  display: flex;
}
.navigation-desktop__bottom-content .menu .menu-item {
  position: relative;
}
.navigation-desktop__bottom-content .menu .menu-item + .menu-item {
  margin-left: 1rem;
}
.navigation-desktop__bottom-content .menu .menu-item__link {
  line-height: 2.5rem;
  font-weight: 600;
  color: var(--navigation-desktop-bottom-menu-link-color);
}
.navigation-desktop__bottom-content .menu .menu-item__element {
  display: flex;
  align-items: center;
  padding: 10px 8px;
}
.navigation-desktop__bottom-content .menu .menu-item__toggler {
  color: var(--navigation-desktop-bottom-menu-link-color);
  padding-left: 4px;
}
.navigation-desktop__bottom-content .menu .menu-item__toggler .icon:before {
  font-weight: 600;
}
.navigation-desktop__bottom-content .menu .menu-item:hover .menu-item__link {
  color: var(--navigation-desktop-bottom-menu-link-color-hover);
}
.navigation-desktop__bottom-content .menu .menu-item:hover > .submenu {
  display: block;
}
.navigation-desktop__bottom-content .submenu {
  display: none;
  position: absolute;
  background-color: var(--navigation-desktop-bottom-submenu-background-color);
  border: 1px solid var(--navigation-desktop-bottom-submenu-border-color);
  border-radius: 0.25rem;
  padding: 1rem 0;
}
.navigation-desktop__bottom-content .submenu .submenu-item + .submenu-item {
  margin-top: 8px;
}
.navigation-desktop__bottom-content .submenu .submenu-item__link {
  padding: 0 1.2rem;
  line-height: 2.375rem;
  white-space: nowrap;
  color: var(--navigation-desktop-bottom-submenu-link-color);
  font-weight: 600;
}
.navigation-desktop__bottom-content .submenu .submenu-item__link:hover {
  color: var(--navigation-desktop-bottom-submenu-link-color-hover);
}
.navigation-desktop__bottom-content .submenu .submenu-item--active > .submenu-item__element > .submenu-item__link { /* stylelint-disable-line */
  color: var(--navigation-desktop-bottom-submenu-link-color-active);
}
.navigation-desktop__bottom-content .submenu .submenu-item--has-submenu {
  position: relative;
}
.navigation-desktop__bottom-content .submenu .submenu-item--has-submenu .submenu-item__element {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.navigation-desktop__bottom-content .submenu .submenu-item--has-submenu .submenu-item__toggler {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  color: var(--navigation-desktop-bottom-submenu-link-color);
}
.navigation-desktop__bottom-content .submenu .submenu-item--has-submenu .submenu-item__toggler.close {
  display: none;
}
.navigation-desktop__bottom-content .submenu .submenu-item--has-submenu .submenu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
}
.navigation-desktop__bottom-content .submenu .submenu-item--has-submenu:hover > .submenu {
  display: block;
}
.navigation-desktop__bottom-content .submenu .submenu-item--has-submenu:hover > .submenu-item__element > .submenu-item__toggler { /* stylelint-disable-line */
  color: var(--navigation-desktop-bottom-submenu-link-color-hover);
}

/*# sourceMappingURL=navigation-desktop.scss.css.map*/